/* Declaring Variables */
:root {
  --primary: #bd3692;
  --secondary: #104f78;
	--grey: #858689;
	--drkGrey: #5b758e;

	--shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
/* End of Variables */

/* Resets */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'open sans', sans-serif;
}
/* End of resets */

body {
  width: 100%;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background: linear-gradient(to top, #cd9cf2 0%, #f6f3ff 100%);
}